.login-form {
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    position:fixed;
    top:50%;
    right:240px;
    transform:translateY(-50%);
    text-align: center;
}

.login-form label {
    display: block;
    color: #ff0008;
    font-weight: bold; /* Add this line to make the text bold */
    /*margin-bottom: 20px;*/
    font-size:24px;
    text-align:center;
}

.login-form input {
    width: 80%;
    padding: 1px;
}

.login-form button {
    width: 50%;
    padding: 10px;
    background-color: #ff0008;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    text-align: center;
}

.login-form .username-label{
    color:#333333;

}

.login-form .password-label{
    color:#333333;
    font-size:20px;
    text-align:center;
}
.login-form .username-label{
    color:#333333;
    font-size:20px;
    text-align:center;
}